In [1]:
import numpy as np
import pandas as pd

### 房屋修繕補助   house_repair_subsidy

In [2]:
house_repair_subsidy = pd.read_csv('data\\2018_house_repair_subsidy.csv', sep=',', header=0)

In [3]:
print(house_repair_subsidy)

      SN        DATE      NO    NAME  AMOUNT  ITEM_NAME  QTY  UNIT  REMARK
0      1  2018-01-12  293918  293918   84990        NaN  NaN   NaN       1
1      2  2018-01-12  295375  295375   20000        NaN  NaN   NaN       1
2      3  2018-01-15   15957   15957    8990        NaN  NaN   NaN       1
3      4  2018-01-15  294040     陳威龍  108384        NaN  NaN   NaN       0
4      5  2018-01-19  256409     陳榮欽   20000        NaN  NaN   NaN       0
..   ...         ...     ...     ...     ...        ...  ...   ...     ...
186  187  2018-12-21  229183  229183   26513        NaN  NaN   NaN       1
187  188  2018-12-21  278287     李明賢    5700        NaN  NaN   NaN       0
188  189  2018-12-24  218305  218305   10000        NaN  NaN   NaN       1
189  190  2018-12-24  223956  223956    7300        NaN  NaN   NaN       1
190  191  2018-12-28  250952     楊濘桂   90584        NaN  NaN   NaN       0

[191 rows x 9 columns]

In [4]:
house_repair_subsidy['ITEM_NAME'] = 'Null'

In [5]:
house_repair_subsidy['QTY'] = 'Null'

In [6]:
house_repair_subsidy['UNIT'] = 'Null'

In [7]:
house_repair_subsidy['REMARK'] = 1

In [8]:
house_repair_subsidy_list = house_repair_subsidy.values.tolist()

In [9]:
for i in range(len(house_repair_subsidy_list)):
    data = house_repair_subsidy_list[i]
    data[8] = np.random.randint(0,2)
    if data[8] == 1:
        data[3] = data[2]

In [10]:
house_repair_subsidy = pd.DataFrame(house_repair_subsidy_list, columns = ['SN' , 'DATE', 'NO', 'NAME', 'AMOUNT', 'ITEM_NAME',
                                                          'QTY','UNIT','REMARK'] )

In [11]:
house_repair_subsidy.drop('SN', axis = 1)

           DATE      NO    NAME  AMOUNT ITEM_NAME   QTY  UNIT  REMARK
0    2018-01-12  293918  293918   84990      Null  Null  Null       1
1    2018-01-12  295375  295375   20000      Null  Null  Null       0
2    2018-01-15   15957   15957    8990      Null  Null  Null       0
3    2018-01-15  294040     陳威龍  108384      Null  Null  Null       0
4    2018-01-19  256409  256409   20000      Null  Null  Null       1
..          ...     ...     ...     ...       ...   ...   ...     ...
186  2018-12-21  229183  229183   26513      Null  Null  Null       1
187  2018-12-21  278287     李明賢    5700      Null  Null  Null       0
188  2018-12-24  218305  218305   10000      Null  Null  Null       1
189  2018-12-24  223956  223956    7300      Null  Null  Null       0
190  2018-12-28  250952     楊濘桂   90584      Null  Null  Null       0

[191 rows x 8 columns]

In [12]:
house_repair_subsidy.to_csv('data\\2018_house_repair_subsidy.csv')

### 助學補助   student_aid

In [13]:
student_aid = pd.read_csv('data\\2018_student_aid.csv', sep=',', header=0)

In [14]:
print(student_aid)

        SN        DATE      NO    NAME  AMOUNT  ITEM_NAME  QTY  UNIT  REMARK
0        1  2018-01-08  118281     蕭易承    5000        NaN  NaN   NaN       0
1        2  2018-01-08  285320     張晏榕    3000        NaN  NaN   NaN       0
2        3  2018-01-08  295283     陳泓伍   25501        NaN  NaN   NaN       0
3        4  2018-01-11  241504     陳佳弘   10650        NaN  NaN   NaN       0
4        5  2018-01-15     873     廖宜鈴    6000        NaN  NaN   NaN       0
...    ...         ...     ...     ...     ...        ...  ...   ...     ...
9202  9203  2018-12-28  284816  284816     550        NaN  NaN   NaN       1
9203  9204  2018-12-28  286671  286671   12812        NaN  NaN   NaN       1
9204  9205  2018-12-28  288730     張瑋珊    3700        NaN  NaN   NaN       0
9205  9206  2018-12-28  300217     劉玉鳳    4000        NaN  NaN   NaN       0
9206  9207  2018-12-31  224223  224223   12362        NaN  NaN   NaN       1

[9207 rows x 9 columns]

In [15]:
student_aid['ITEM_NAME'] = 'Null'

In [16]:
student_aid['QTY'] = 'Null'

In [17]:
student_aid['UNIT'] = 'Null'

In [18]:
student_aid['REMARK'] = 1

In [19]:
student_aid_list = student_aid.values.tolist()

In [20]:
for i in range(len(student_aid_list)):
    data = student_aid_list[i]
    data[8] = np.random.randint(0,2)
    if data[8] == 1:
        data[3] = data[2]

In [21]:
student_aid = pd.DataFrame(student_aid_list, columns = ['SN' , 'DATE', 'NO', 'NAME', 'AMOUNT', 'ITEM_NAME',
                                                          'QTY','UNIT','REMARK'] )

In [22]:
student_aid.drop('SN', axis = 1)

            DATE      NO    NAME  AMOUNT ITEM_NAME   QTY  UNIT  REMARK
0     2018-01-08  118281  118281    5000      Null  Null  Null       1
1     2018-01-08  285320     張晏榕    3000      Null  Null  Null       0
2     2018-01-08  295283  295283   25501      Null  Null  Null       1
3     2018-01-11  241504  241504   10650      Null  Null  Null       1
4     2018-01-15     873     873    6000      Null  Null  Null       1
...          ...     ...     ...     ...       ...   ...   ...     ...
9202  2018-12-28  284816  284816     550      Null  Null  Null       1
9203  2018-12-28  286671  286671   12812      Null  Null  Null       0
9204  2018-12-28  288730     張瑋珊    3700      Null  Null  Null       0
9205  2018-12-28  300217     劉玉鳳    4000      Null  Null  Null       0
9206  2018-12-31  224223  224223   12362      Null  Null  Null       1

[9207 rows x 8 columns]

In [23]:
student_aid.to_csv('data\\2018_student_aid.csv')

### 急難補助  emergency_assistance

In [24]:
emergency_assistance = pd.read_csv('data\\2018_emergency_assistance.csv', sep=',', header=0)

In [25]:
print(emergency_assistance)

          SN        DATE      NO    NAME  AMOUNT  ITEM_NAME  QTY  UNIT  REMARK
0          1  2018-01-04   63284   63284   18000        NaN  NaN   NaN       1
1          2  2018-01-04  263157     詹慶祈    2300        NaN  NaN   NaN       0
2          3  2018-01-04  281500  281500    6000        NaN  NaN   NaN       1
3          4  2018-01-04  294982     林茂勇    4000        NaN  NaN   NaN       0
4          5  2018-01-08     933     933   10000        NaN  NaN   NaN       1
...      ...         ...     ...     ...     ...        ...  ...   ...     ...
11769  11770  2018-12-28  306575     王翊丞   10000        NaN  NaN   NaN       0
11770  11771  2018-12-29    3664    3664    5000        NaN  NaN   NaN       1
11771  11772  2018-12-29  296400     白佩君   10000        NaN  NaN   NaN       0
11772  11773  2018-12-29  305314  305314    6000        NaN  NaN   NaN       1
11773  11774  2018-12-31    3243    3243    2198        NaN  NaN   NaN       1

[11774 rows x 9 columns]

In [26]:
emergency_assistance['ITEM_NAME'] = 'Null'

In [27]:
emergency_assistance['QTY'] = 'Null'

In [28]:
emergency_assistance['UNIT'] = 'Null'

In [29]:
emergency_assistance['REMARK'] = 1

In [30]:
emergency_assistance_list = emergency_assistance.values.tolist()

In [31]:
for i in range(len(emergency_assistance_list)):
    data = emergency_assistance_list[i]
    data[8] = np.random.randint(0,2)
    if data[8] == 1:
        data[3] = data[2]

In [32]:
emergency_assistance = pd.DataFrame(emergency_assistance_list, columns = ['SN' , 'DATE', 'NO', 'NAME', 'AMOUNT', 'ITEM_NAME',
                                                          'QTY','UNIT','REMARK'] )

In [33]:
emergency_assistance.drop('SN', axis = 1)

             DATE      NO    NAME  AMOUNT ITEM_NAME   QTY  UNIT  REMARK
0      2018-01-04   63284   63284   18000      Null  Null  Null       0
1      2018-01-04  263157  263157    2300      Null  Null  Null       1
2      2018-01-04  281500  281500    6000      Null  Null  Null       1
3      2018-01-04  294982  294982    4000      Null  Null  Null       1
4      2018-01-08     933     933   10000      Null  Null  Null       1
...           ...     ...     ...     ...       ...   ...   ...     ...
11769  2018-12-28  306575  306575   10000      Null  Null  Null       1
11770  2018-12-29    3664    3664    5000      Null  Null  Null       1
11771  2018-12-29  296400     白佩君   10000      Null  Null  Null       0
11772  2018-12-29  305314  305314    6000      Null  Null  Null       0
11773  2018-12-31    3243    3243    2198      Null  Null  Null       1

[11774 rows x 8 columns]

In [34]:
emergency_assistance.to_csv('data\\2018_emergency_assistance.csv')

### 長期濟助   longterm_relief

In [ ]:
longterm_relief = pd.read_csv('data\\2018_longterm_relief.csv', sep=',', header=0)

In [ ]:
print(longterm_relief)

In [ ]:
longterm_relief['REMARK'] = 1

In [ ]:
longterm_relief_list = longterm_relief.values.tolist()

In [ ]:
for i in range(len(longterm_relief_list)):
    data = longterm_relief_list[i]
    data[8] = np.random.randint(0,2)
    if data[8] == 1:
        data[3] = data[2]

In [ ]:
longterm_relief = pd.DataFrame(longterm_relief_list, columns = ['SN' , 'DATE', 'NO', 'NAME', 'AMOUNT', 'ITEM_NAME',
                                                          'QTY','UNIT','REMARK'] )

In [ ]:
longterm_relief.drop('SN', axis = 1)

In [ ]:
longterm_relief.to_csv('data\\2018_longterm_relief.csv')